<h1><span class="glyphicon glyphicon-th-list"></span> List of Polling Stations</h1>
<% if @uc.stations.any? %>
<h3> 
  <%= @uc.name %> (UC No. <%= @uc.id %>) <%= link_to 'Check results',  uc_results_path(@uc) %> <span class="glyphicon glyphicon-align-left text-success"></span>
</h3>
  <p>Download list of Polling station: <span class="glyphicon glyphicon-import"></span> 
    <%= link_to 'CSV', uc_villages_path(@uc.id, format: 'csv')  %> |
    <%= link_to 'Excel', uc_villages_path(@uc.id, format: 'xls')  %>
  </p>
  <ol><%= render @uc.stations %></ol>
  <% else  %>
  <div class="well">
    <h3>Please wait!</h3>
    <h5>The list of polling stations shall be updated after finalization of polling scheme. The same shall be upload prior to Local Govt. Elections!</h5>
    <h6>Thank you for your visit.</h6>
  </div>
  <% end %>