<h2><span class="glyphicon glyphicon-th-list"></span> <%= @uc.name %> (UC No. <%= @uc.id %>)</h2>
<p>Download list of villages: <span class="glyphicon glyphicon-import"></span> 
  <%= link_to 'CSV', uc_villages_path(@uc.id, format: 'csv')  %> |
  <%= link_to 'Excel', uc_villages_path(@uc.id, format: 'xls')  %>
</p>

<ol><%= render @uc.villages %></ol>

<h5>Total Population <%= @uc.villages.sum(:population) %></h5>