<h1><span class="glyphicon glyphicon-align-left"></span> Listing UCs</h1>
<p>
  Download list of UCs: <span class="glyphicon glyphicon-import"></span>: 
  <%= link_to 'CSV', ucs_path(format: 'csv') %> |
  <%= link_to 'Excel', ucs_path(format: 'xls') %>
</p>

  <table id="ucs" class="display table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Villages</th>
      <th>Polling stations</th>
      <% if current_user %>
      <th>Results</th>
        <th>Edit</th>
       <% end %>
      <%  if current_user && current_user.admin? %>
        <th>Destroy</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @ucs.each do |uc| %>
      <tr>
        <td><%= uc.name %> <span class="badge">No.<%= uc.id %></span></td>
        <td><%= link_to 'Villages', uc_villages_path(uc) %></td>
        <td><%= link_to 'Polling Stations', uc %></td>
          <% if current_user %>
        <td><%= link_to 'Results', results_uc_path(uc) %></td>
            <td><%= link_to 'Edit', updates_uc_path(uc) %></td>
          <% end %>
        <%  if current_user && current_user.admin? %>
          <td><%= link_to 'Destroy', uc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
