<h1>Listing ucs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ucs.each do |uc| %>
      <tr>
        <td><%= uc.name %></td>
        <td><%= link_to 'Show', uc %></td>
        <td><%= link_to 'Edit', updates_uc_path(uc) %></td>
        <td><%= link_to 'Results', results_uc_path(uc) %></td>
        <td><%= link_to 'Destroy', uc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uc', new_uc_path %>
<%= link_to 'Candiates', "#" %>
