<h1><span class="glyphicon glyphicon-align-left"></span> Listing UCs</h1>
<div class="row">
  <div class="well">
  <%= form_tag ucs_path, method: :get do  %>
    <div class="col-md-5">
        <%= radio_button_tag :teh, [], @teh_id==0? true : false %><span> Show all</span>
        <%= radio_button_tag :teh, 3, @teh_id==3? true : false %><span> Narowal</span>
        <%= radio_button_tag :teh, 2, @teh_id==2? true : false  %><span> Shakargarh</span>
        <%= radio_button_tag :teh, 1, @teh_id==1? true : false %><span> Zafarwal</span>
      </div><!--  end of col-md-5 -->


    <div class="col-md-3">
      <%= radio_button_tag :damo, [], @damo_id==0? true : false %><span> All</span>
      <%= radio_button_tag :damo, 1, @damo_id==1? true : false %><span> Rural</span>
      <%= radio_button_tag :damo, 2, @damo_id==2? true : false %><span> Urban</span>
    </div> <!-- end of col-md-3 -->
  <%= submit_tag 'Filter', class: "btn btn-success" %>
  <% end %>
</div> <!-- end of well -->
</div> <!-- end of filter form row -->

<p>
  Download list of UCs: <span class="glyphicon glyphicon-import"></span>: 
  <%= link_to 'CSV', ucs_path(format: 'csv') %> |
  <%= link_to 'Excel', ucs_path(format: 'xls') %>
</p>

  <table id="ucs" class="display table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Areas</th>
      <th>Polling stations</th>
      <% if current_user %>
      <th>Results</th>
        <th>Edit</th>
       <% end %>
      <%  if current_user && current_user.admin? %>
        <th>Destroy</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @ucs.each do |uc| %>
      <tr>
        <td><%= uc.name %></td>
        <td><%= link_to uc.type_id==1 ? "Villages" : "Areas", uc_villages_path(uc) %></td>
        <td><%= link_to 'Polling Stations', uc_stations_path(uc) %></td>
          <% if current_user %>
        <td><%= link_to 'Results',  uc_results_path(uc) %></td>
            <td><%= link_to 'Edit', updates_uc_path(uc) %></td>
          <% end %>
        <%  if current_user && current_user.admin? %>
          <td><%= link_to 'Destroy', uc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
