<h2>
  <strong>Polling Stations of Union Council</strong> <%= @uc.name %>
</h2>
<div>
<% if current_user %>
  <%= link_to 'Edit', edit_uc_path(@uc), class: 'btn btn-default' %>
<% end %>
  <%= link_to 'Back', ucs_path, class: 'btn btn-default'%>

<% if @uc.stations.any? %>
  <ol>
    <% @uc.stations.each do |stn| %>
        <li><%= stn.name %></li>
    <% end %>
  </ol>
  </div>
<% else %>
  <%= content_tag :div, content_tag(:h5, "List of Polling stations of UC #{@uc.name} is not yet available. It  shall be updated before elections."), class: 'well' %>
<% end %>
 
