
 <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <h3><%= link_to "Local Govt. Elections 2013", root_path, class: "navbar-text navbar brand" %></h3>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          <%= link_to 'Dashbaord', dashboard_path %> |
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %> |
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </p>
    </nav>
 </div>
 <div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name.to_s=='notice' ? "alert alert-success" : "alert alert-danger" %> 
  <% end %>
  <div class="col col-sm-4">
