<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Election</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/nav' %>
<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name.to_s=='notice' ? "alert alert-success" : "alert alert-danger" %> 
  <% end %>

    <%= yield %>
 
<div class="row">
  <%= render 'shared/footer' %>
</div>
</div> <!-- end container -->

</body>
</html>
